In [8]:
import datetime
import pandas
import pytz 
import random
import urllib

In [9]:
link = "http://api.tvmaze.com/schedule/full"
f = urllib.request.urlopen(link)
schedule = pandas.read_json(f.read()) 

random.seed(0)
vdata = []
for i in range(10000):
    id = random.randint(0, len(schedule)-1)
    date = datetime.date(year=2019, month=1, day=random.randint(1,31))
    c = list(pytz.country_names.keys())[random.randint(0,248)]
    vh = round(abs(random.normalvariate(3, 1)), 2)
    vid = random.randint(1000000, 10000000)
    d = [schedule['id'][id], date.strftime('%Y-%m-%d'), c, vh, vid]
    vdata.append(d)
    
viewing = pandas.DataFrame(
    vdata, 
    columns = [
        'episode_id', 'view_date', 'country', 'view_hours', 'viewer_id'
    ]
)

In [10]:
viewing.head()

   episode_id   view_date country  view_hours  viewer_id
0     2195087  2019-01-13      SC        4.55    6088743
1     2201521  2019-01-16      GU        4.56    9467240
2     2222699  2019-01-10      BY        4.15    5202798
3     2209746  2019-01-18      PN        1.79    6539790
4     2219015  2019-01-18      BL        2.63    4430567

In [11]:
viewing.to_csv("viewEventsFromKafka_smaller.tsv", sep="\t", index = False, header = False)